<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>estore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--   拦截 并进行编码设置 -->
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>com.briup.web.filter.EncodingFilter</filter-class>
  </filter>
  
  
  <filter-mapping>
  	<filter-name>LoginAfter</filter-name>
  	<url-pattern>/LoginAfter/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>LoginAfter</filter-name>
  	<filter-class>com.briup.web.filter.LoginAfterFilter</filter-class>
  </filter>
  
 <listener>
    <listener-class>com.briup.web.listener.ShopListener</listener-class>
  </listener>
 
 <servlet-mapping>
 	<servlet-name>RegisterServlet</servlet-name>
 	<url-pattern>/RegisterServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 	<servlet-name>RegisterServlet</servlet-name>
 	<servlet-class>com.briup.web.servlet.RegisterServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>LoginServlet</servlet-name>
 	<url-pattern>/LoginServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 	<servlet-name>LoginServlet</servlet-name>
 	<servlet-class>com.briup.web.servlet.LoginServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>ViewBookServlet</servlet-name>
 	<url-pattern>/ViewBookServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 	<servlet-name>ViewBookServlet</servlet-name>
 	<servlet-class>com.briup.web.servlet.ViewBookServlet</servlet-class>
 </servlet>
 
 
 <servlet-mapping>
 	<servlet-name>AddToCartServlet</servlet-name>
 	<url-pattern>/AddToCartServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 	<servlet-name>AddToCartServlet</servlet-name>
 	<servlet-class>com.briup.web.servlet.AddToCartServlet</servlet-class>
 </servlet>
 
</web-app>